.header-container {
  background-color: $background-base;
  padding: 10px 24px;
  @include flex-between;

  .logo {
    width: 16%;
    align-items: center;
    display: flex;
  }

  .btn-channel {
    border: 1px solid $primary-color;
    background-color: transparent;
    color: $primary-color;
    border-radius: 40px;
    font-size: $font-size-sm;
    font-weight: 500;
    padding: 9px 14px;
  }

  .chevron-right {
    width: 22px;
    height: 22px;
    fill: $primary-color;
  }

  .search {
    width: 68%;
    display: flex;
    align-items: center;
  }

  .search-icon {
    position: relative;
    right: -12px;
    z-index: 1;
    width: 28px;
    height: 28px;
  }

  .search-input {
    position: absolute;
    background-color: $background-extra;
    border-radius: 12px;
    padding: 6px 46px;
    font-size: 16px;
    width: 40%;
    color: #fff;
  }

  .figure-avatar {
    position: relative;
    display: inline-block;
  }

  .avatar {
    min-width: 40px;
    min-height: 40px;
  }

  .avatar img {
    display: block;
    border-radius: 5px;
    z-index: 1;
  }

  .figure-avatar::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(to right, #ff0000, #c300ff);
    border-radius: 50%;
  }

  .figure-avatar::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -5px;
    bottom: -5px;
    background: $background-base;
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }

  .header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 26px;
    width: 16%;
  }
}
