// Colors
$primary-color: #F66035;
$text-primary: #555555;
$text-secondary: #FAFAFA;
$background-base: #0A0A0A;
$background-extra: rgb(54 53 53 / 99%);
// $background-highlight: #1E1E1E;

// Typography
$font-primary: var(--font-inter);
$font-secondary: var(--font-montserrat);
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 18px;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 44px;

// Layout
$sidebar-width: 240px;
$header-height: 64px;
$player-height: 60px;

